openapi: 3.0.3
info:
  title: TUI Musement WeatherForecast API
  version: 1.0.11
  description: This is a weather forecast api based on the OpenAPI 3.0 specification.It is used to get the weather forecast of a specific city
servers:
    - url: https://api.weatherapi.com/v1
tags:
  - name: weatherByCity
    description: Access to weather by city
paths:
  /forecast.json:
    get:
      tags:
        - weatherByCity
      summary: Finds weatherforecast by CityName
      description: Get a string value in return
      operationId: findWeatherForecastByCityName
      parameters:
        -  in: query
           name: key
           description: Authentication key to get from weatherapi.com
           required: true
           schema:
             type: string
             default: 4ed08cc4d75b4c2db81165557222409  
        -  in: query
           name: q
           description: City name value that is needed for filter
           required: true
           schema:
             type: string
             example: Barcelona
        
        -  in: query
           name: days
           description: number of days for the forcast to be shown
           required: true
           schema:
             type: integer
             example: 2
      responses:
        '200':
          description: success to read weather forecast for a city
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                properties:
                  location:
                      type: array
                  current:
                      type: array
                  forecast:
                     type: array
        '400':
          description: Invalid value
            